@import "settings.scss";

.article {
  margin-top: 4rem;
  padding-top: 3.35rem;
  padding-bottom: 3em;
  background-image: url("../imgs/articleBackground.png");
  background-repeat: no-repeat;
  background-position-x: center;

  &__text {
    max-width: 60%;
    margin-left: 22.5%;
    margin-top: 0;

    color: $article-text-color;

    font-family: Gilroy600;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
}
