@charset "UTF-8";
/* В этой папке лежат переменные */
/* Цвета */
/* Брейкпоинты */
/* Шрифты */
@font-face {
  font-family: Dots, sans-serif;
  src: url("DotsAllForNow.ttf"); }
@font-face {
  font-family: Gilroy400;
  src: url("fonts/Gilroy-Light.ttf"); }
@font-face {
  font-family: Gilroy600;
  src: url("fonts/Gilroy-Medium.ttf"); }
@font-face {
  font-family: Gilroy700;
  src: url("fonts/Gilroy-Bold.ttf"); }
@font-face {
  font-family: Gilroy800;
  src: url("fonts/Gilroy-Extrabold.ttf"); }
@font-face {
  font-family: Acrom-Medium;
  src: url("fonts/Acrom-Medium.ttf"); }
@font-face {
  font-family: Acrom-Bold;
  src: url("fonts/Acrom-Bold.ttf"); }
/* Это шаблонные селекторы. Чтобы их добавить к своим селекторам, нужно написать внутри селектора, 
например, 
@extend %flex-element-center; 
Это включит правила шаблона в ваш селектор*/
/* Миксины -- это кусочки кода, которые вы можете включать в свои стили с помощью команды @include
Например,  
в этом общем файле пишем миксин:


C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:22:in `load'
C:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...in-height: 60vh\": expected \"{\", was \";\"\A         on line 21 of C:\Users\akdoo\Documents\GitHub\superproject\assets\style\certificat.scss\A \A 16:         background-size: cover;\A 17:         background-position-x: center; \A 18:         display: grid;\A 19:         grid-template-columns: 45% 10% 45%;\A 20: <<<<<<< Updated upstream\A 21:         min-height: 60vh;\A 22: \A 23:  \A 24: =======\A 25:         min-height: 80vh;\A 26: >>>>>>> Stashed changes"; }
