@import "settings.scss";

.certificat {
   

    &__background-bord {
    max-width: 100%;
    background-image: url("../imgs/certificat_fon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

  
    &__bord {
        background-image: url("../imgs/сertificat_background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center; 
        display: grid;
        grid-template-columns: 45% 10% 45%;
        min-height: 60vh;

 
    }
    
    &__img-side {
        grid-column: 1/3;
        grid-row: 1/2;
        z-index: 2;
        min-height: 100vh;
        
    }
    &__mans {
        width: 100vw;
    
        margin-left: -29%;
        margin-top: -6%;
    }
    &__clouds
    {
        margin-bottom: 40%;
        position: relative;
        
        &--cloud-above
        {
           position: absolute;
           margin: -9% 86% 10% 14%;
           width: 15%;
           &--width 
           {
            max-width: 100%;
           }

        }
        &--cloud-left
        {
            position: absolute;
            margin: -18.5% 38% 10% 62%;
            width: 26%;
            &--width
            {
                max-width: 100%;
            }
        }
        
    }
    &__text-side {
        grid-column: 2/4;
        grid-row: 1/2;
        z-index: 1;
        
    }
    &__header {
        font-family: Gilroy600;
        font-size: 47px;
        color: $white;
      
        
       
        
       
        margin-top: 30%;
        margin-left: 3%;
        
        margin-bottom: -0.3em;
    
    }
    
    &__table {
        margin-left: 3%;
        margin-right: 25%;
       
        margin-bottom: 30%;


    }
}

