@charset "UTF-8";
* {
  border: 1px solid red;
}

/* В этой папке лежат переменные */
/* Цвета */
/* Брейкпоинты */
/* Шрифты */
@font-face {
  font-family: Dots;
  src: url("DotsAllForNow.ttf");
}
@font-face {
  font-family: Gilroy400;
  src: url("fonts/Gilroy-Light.ttf");
}
@font-face {
  font-family: Gilroy600;
  src: url("fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: Gilroy700;
  src: url("fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: Gilroy800;
  src: url("fonts/Gilroy-Extrabold.ttf");
}
@font-face {
  font-family: Acrom-Medium;
  src: url("fonts/Acrom-Medium.ttf");
}
@font-face {
  font-family: Acrom-Bold;
  src: url("fonts/Acrom-Bold.ttf");
}
/* Это шаблонные селекторы. Чтобы их добавить к своим селекторам, нужно написать внутри селектора, 
например, 
@extend %flex-element-center; 
Это включит правила шаблона в ваш селектор*/
/* Миксины -- это кусочки кода, которые вы можете включать в свои стили с помощью команды @include
Например,  
в этом общем файле пишем миксин:

@mixin reset {
  margin: 0;
  padding: 0;
} 

В вашем файле стилей для блока пишем:

ul {
  @include reset;
}

*/
.instructors {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  margin-bottom: 7%;
}
.instructors__header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.instructors__pointers {
  display: none;
  margin-top: 2rem;
}
@media (max-width: 420px) {
  .instructors__pointers {
    display: block;
  }
}
.instructors__pointers .card-set {
  margin-top: 3%;
}
.instructors__pointers .card-set .card {
  width: 100%;
  background-color: #6777ff;
  border-radius: 20px;
  margin-top: -2%;
}
.instructors__pointers .card-set .card p {
  color: #ffffff;
  font-size: 24px;
  line-height: 26px;
  padding-left: 8%;
  margin-block: 0px;
}
.instructors__pointers .card-set .card .card__name {
  font-family: Gilroy700, sans-serif;
}
.instructors__pointers .card-set .card .card__position {
  font-family: Gilroy400, sans-serif;
}
.instructors__pointers .card-set .card .card__image img {
  height: 100%;
  width: 100%;
}
@media (max-width: 1440px) and (min-width: 1124px) {
  .instructors__pointers .card-set .card {
    width: 267px;
    height: 301px;
  }
}
@media (max-width: 1124px) and (min-width: 768px) {
  .instructors__pointers .card-set .card {
    width: 235px;
    height: 265px;
  }
}
@media (max-width: 768px) {
  .instructors__pointers .card-set .card {
    width: 278px;
    height: 314px;
    line-height: 32.51px;
    font-size: 26px;
  }
  .instructors__pointers .card-set .card .contacts__map {
    height: 434px;
  }
}
@media (max-width: 1124px) and (min-width: 768px) {
  .instructors__pointers .card-set .card {
    line-height: 22.51px;
    font-size: 18px;
  }
  .instructors__pointers .card-set .card .contacts__map {
    height: 348px;
  }
}
@media (max-width: 768px) {
  .instructors__pointers .card-set .card {
    line-height: 17.51px;
    font-size: 14px;
  }
  .instructors__pointers .card-set .card .contacts__map {
    height: 278px;
  }
  .instructors__pointers .card-set .card .contacts__img {
    max-height: 250px;
  }
  .instructors__pointers .card-set .card .contacts__img img {
    margin-top: 30px;
  }
}

.button-order {
  align-self: center;
  margin-top: 5%;
}
.button-order button {
  width: 724px;
  height: 151px;
  background: #6777ff;
  border-radius: 15px;
  font-family: Gilroy600, sans-serif;
  color: #ffffff;
  font-size: 51px;
  line-height: 62px;
  display: flex;
  text-transform: uppercase;
  padding: 2%;
  border: none;
  cursor: pointer;
}
@media (max-width: 1440px) and (min-width: 768px) {
  .button-order button {
    width: 490px;
    height: 102px;
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 768px) {
  .button-order button {
    width: 277px;
    height: 72px;
    font-size: 24px;
    line-height: 29px;
  }
}
.button-order button:hover {
  background-color: #03008d;
}

.footer .h2 {
  margin-left: 12%;
  margin-bottom: 1%;
}

.footer__content {
  background-color: #6777ff;
  text-transform: uppercase;
  font-family: Gilroy700, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37.51px;
  color: #ffffff;
  max-width: 100vw;
  border-radius: 40px 40px 0px 0px;
}
.footer__content .contacts__img img {
  margin-top: 54px;
  margin-bottom: -0.5%;
}
.footer__content .contacts__img img,
.footer__content .contacts__map img {
  height: 100%;
  width: 100%;
}
.footer__content .contacts__map {
  height: 628px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1440px) and (min-width: 1124px) {
  .footer__content .contacts__map {
    height: 438px;
  }
}
@media (max-width: 1124px) and (min-width: 768px) {
  .footer__content .contacts__map {
    height: 351px;
  }
}
@media (max-width: 768px) {
  .footer__content .contacts__map {
    height: 278px;
  }
}
.footer__content .contacts__map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
@media (max-width: 1440px) and (min-width: 1124px) {
  .footer__content {
    line-height: 32.51px;
    font-size: 26px;
  }
}
@media (max-width: 1124px) and (min-width: 768px) {
  .footer__content {
    line-height: 22.51px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .footer__content {
    line-height: 17.51px;
    font-size: 14px;
  }
}

.contacts__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  max-width: 1440px;
  height: 444px;
  margin: auto;
}
.contacts__section .adress {
  margin-top: 10%;
}
.contacts__section .email {
  display: flex;
  flex-direction: row;
  margin-top: -3%;
}
.contacts__section .email .email__logo {
  align-self: center;
  margin-right: 2%;
  margin-bottom: 5%;
}
.contacts__section .email .email__logo img {
  height: 35px;
  width: 50px;
}
@media (max-width: 1440px) and (min-width: 768px) {
  .contacts__section .email .email__logo img {
    height: 25px;
    width: 35px;
  }
}
@media (max-width: 768px) {
  .contacts__section .email .email__logo img {
    display: none;
  }
}
.contacts__section .phone-number {
  margin-top: -8%;
}
.contacts__section .phone-number img {
  height: 47px;
  width: 50px;
}
@media (max-width: 1440px) and (min-width: 768px) {
  .contacts__section .phone-number img {
    height: 34px;
    width: 35px;
  }
}
@media (max-width: 768px) {
  .contacts__section .phone-number img {
    display: none;
  }
}
.contacts__section .logo,
.contacts__section .subscribe,
.contacts__section .socials {
  text-align: right;
}
.contacts__section .socials img {
  height: 64px;
  width: 65px;
}
@media (max-width: 1440px) {
  .contacts__section .socials img {
    height: 46px;
    width: 45px;
  }
}
.contacts__section .logo svg {
  height: 100%;
}
@media (max-width: 1440px) {
  .contacts__section .logo svg {
    height: 58.82px;
    width: 92.56px;
    margin-top: 12%;
  }
}
.contacts__section .subscribe {
  margin-top: -2.5%;
}
.contacts__section .socials {
  margin-top: -9%;
}
@media (max-width: 1440px) and (min-width: 1124px) {
  .contacts__section {
    max-width: 1130px;
    height: 333px;
  }
}
@media (max-width: 1124px) and (min-width: 768px) {
  .contacts__section {
    max-width: 728px;
    height: 335px;
  }
  .contacts__section .email {
    margin-top: 15%;
  }
}
@media (max-width: 768px) {
  .contacts__section {
    max-width: 400px;
    height: 467px;
    grid-template-columns: 1fr;
  }
  .contacts__section .logo {
    order: 6;
    text-align: center;
    margin-bottom: 20%;
  }
  .contacts__section .subscribe {
    order: 3;
    text-align: left;
  }
  .contacts__section .socials {
    order: 4;
    text-align: left;
    margin-top: 2%;
  }
  .contacts__section .phone-number {
    margin-top: -7%;
  }
  .contacts__section .email__logo {
    margin-left: -2%;
  }
}

/*# sourceMappingURL=contacts.css.map */
