@import "settings.scss";

.footer {
    .h2 {
        margin-left: 12%;
        margin-bottom: 1%;
    }
}

.footer__content {
    background-color: $header-color;
    text-transform: uppercase;
    font-family: $gilroy--bold;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37.51px;
    color: $white;
    max-width: 100vw;
    border-radius: 40px 40px 0px 0px;

    .contacts__img img {
        margin-top: 54px;
        margin-bottom: -0.5%;
    }

    .contacts__img img,
    .contacts__map img {
        height: 100%;
        width: 100%;
    }

    .contacts__map {
        height: 628px;
        overflow: hidden;
        position: relative;
    }

    .contacts__map iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

.contacts__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    max-width: 1440px;
    height: 444px;
    margin: auto;

    .adress {
        margin-top: 10%;
    }

    .email {
        display: flex;
        flex-direction: row;
        margin-top: -3%;

        .email__logo {
            align-self: center;
            margin-right: 2%;
            margin-bottom: 5%;
        }
    }

    .phone-number {
        margin-top: -8%;

        img {
            width: 50px;
        }
    }

    .logo,
    .subscribe,
    .socials {
        text-align: right;
    }

    .socials img {
        height: 64px;
        width: 65px;
    }

    .logo {
        margin-top: 12%;
    }

    .subscribe {
        margin-top: -2.5%;
    }

    .socials {
        margin-top: -9%;
    }

}