@import "settings.scss";

.difference {
  width: 100vw;

  &__header {
    text-align: center;

    margin-bottom: 0;
    padding-bottom: 0;
  }

  &__airplans {
    @include flex-between;
    align-items: flex-end;

    max-width: 100%;
  }

  &__image-wrap {
    flex: 50% 1 1;

    &--airbus {
      display: flex;
      align-items: flex-end;
    }
  }

  &__image-airplan--airbus {
    margin-left: auto;
    max-width: 100%;
  }

  &__comparison {
    @include flex-evenly;
    @extend %margin-auto;
    max-width: 80%;
  }

  &__boeing-items {
    flex: 30% 1 1;
  }

  &__airbus-items {
    flex: 30% 1 1;
  }

  &__airbus-item {
    @extend %flex-element-center;
  }
}
