@import "settings.scss";

.h2 {
  @include h2-style;
}

.difference {
  width: 98.9vw;

  &__header {
    text-align: center;

    margin-bottom: 0;
    padding-bottom: 0;
  }

  &__airplans {
    @include flex-between;
    align-items: flex-end;

    max-width: 100%;
  }

  &__image-wrap {
    flex: 50% 1 1;

    &--airbus {
      display: flex;
      align-items: flex-end;
    }
  }

  &__image-airplan--airbus {
    margin-left: auto;
    max-width: 100%;
  }

  &__comparison {
    @include flex-evenly;
    @extend %margin-auto;
    align-items: flex-start;

    max-width: 65%;
  }

  &__boeing-items {
    flex: 50% 1 1;
  }

  &__airbus-items {
    flex: 50% 1 1;
  }

  &__airbus-item {
    display: grid;
    grid-template-columns: 75% 25%;

    height: 2.5em;
  }

  &__boeing-item {
    display: grid;
    grid-template-columns: 25% 75%;

    height: 2.5em;
  }

  &__line-wrap {
    @include flex-center;
  }

  &__fact {
    font-family: Gilroy600;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    &--airbus {
      text-align: right;
    }

    &--boeing {
      text-align: left;
    }
  }
}
