@import "settings.scss";

// * {
//   border: 1px solid red;
// }

.header {
  text-transform: uppercase;
  background-color: $header-color;

  font-family: $nav-menu-font;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $white;

  @media (max-width: $lg-desktop) {
    font-size: 14px;
    line-height: 17px;
  }
}

.header__content {
  display: grid;
  grid-template-columns: 9% 60% 27%;
  align-content: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  height: 196px;


  .logo {

    @media (max-width: $desktop) {
      grid-area: logo;
      margin-top: 40%;
    }

    svg {
      margin-top: 5%;
      height: 100%;

    }

    // .logo svg {
    //   margin-top: 5%;
    //   height: 100%;


    @media (max-width: $desktop) {
      height: 59.1px;
      width: 93px;
    }
  }

  .nav {
    @media (max-width: $desktop) {
      grid-area: menu;
      margin-top: 1%;
    }
  }

  .menu {
    display: grid;
    grid-template-columns: 2.4fr 1.2fr 0.5fr 1fr 1fr 1fr;
    gap: 1.5%;
    list-style: none;
    text-align: center;
    padding-left: 0px;
    padding-top: 5.5%;

    .menu__item a {
      // float: left;
      cursor: pointer;
      text-decoration: none;
      color: $white;
    }

    .menu__item a:hover {
      text-decoration: underline;
    }

    // @media (max-width: $tablet) {
    //   display: none;
    // }
  }

  .contacts {
    text-align: right;
    margin-left: 5%;
    margin-top: -3%;

    .phone-number {
      font-family: $font-gilroy-superbold;
      font-size: 24px;
      line-height: 30px;
      margin-top: 2%;

      img {
        margin-right: 2%;

        @media (max-width: $lg-desktop) {
          height: 19px;
          width: 19px;
        }

        @media (max-width: $desktop) {
          display: none;
        }
      }

      @media (max-width: $lg-desktop) {
        font-size: 14px;
        line-height: 18px;
      }

    }

    @media (max-width: $tablet) {
      display: none;
    }

    @media (max-width: $desktop) {
      grid-area: contacts;
      margin-top: 0%;
      margin-right: 2.5%;
    }
  }

  @media (max-width: $lg-desktop) {
    height: 184px;
  }

  @media (max-width: $desktop) {
    grid-template-columns: 15% 1fr;
    grid-template-rows: 15% 1fr;
    grid-template-areas:
      "logo contacts"
      "logo menu";
  }

  @media (max-width: $lg-desktop) and (min-width:$desktop) {
    max-width: 1130px;
  }

  @media (max-width: $desktop) {
    margin-left: 5%;
    margin-left: 5%;
  }

  @media (min-width: $tablet) {

    .side-menu,
    .hamb {
      display: none;
    }
  }
}

// Burger 


.header__content {
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: row;

    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr;
    max-width: 100vw;
    margin-left: 0px;
    // z-index: 4;
    font-size: 18px;
    position: sticky;
    top: 0;
    height: 184px;


    .logo {
      margin-top: 5%;
      z-index: 5;
    }

    /* Nav menu */
    .nav {
      width: 100%;
      // position: fixed;
      background-color: $blue;
      overflow: hidden;
      max-height: 0;
      transition: max-height .5s ease-out;
      // height: 175px;
      margin-top: 0%;
      margin-left: 0%;
    }

    .menu {
      display: grid;
      // grid-template-columns: 1fr 1fr;
      // grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 2%;
      margin-left: 1%;
      margin-right: 1%;
      margin-top: 0%;
    }

    .menu a:hover {
      text-decoration: underline;
    }

    /* Menu Icon */

    .hamb {
      cursor: pointer;
      float: right;
      padding: 40px 20px;
      // margin-left: 70%;
      margin-top: 3%;
      order: 5;

    }

    .hamb-line {
      background: $white;
      display: block;
      height: 3px;
      position: relative;
      width: 40px;

    }

    .hamb-line::before,
    .hamb-line::after {
      background: $white;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }

    .hamb-line::before {
      top: 9px;
    }

    .hamb-line::after {
      top: -9px;
    }

    .side-menu {
      display: none;
    }

    /* Toggle menu icon */

    .side-menu:checked~nav {
      max-height: 100%;
      max-height: 184px;
      max-width: 100vw;
      padding-left: 0px;
      margin-left: 0px;
      // height: 100vh;
    }

    .side-menu:checked~logo {
      display: none;
    }


    .side-menu:checked~.hamb .hamb-line {
      background: transparent;
    }

    .side-menu:checked~.hamb .hamb-line::before {
      transform: rotate(-45deg);
      top: 0px;
      z-index: 5;

    }

    .side-menu:checked~.hamb .hamb-line::after {
      transform: rotate(45deg);
      top: 0px;
      z-index: 5;
    }
  }
}