@import "settings.scss";

.header {
  text-transform: uppercase;
  background-color: $header-color;

  font-family: $nav-menu-font;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $white;
}

.header__content {
  display: grid;
  grid-template-columns: 9% 60% 27%;
  align-content: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  height: 196px;

  .logo svg {
    margin-top: 5%;
    height: 100%;
  }

  .menu {
    display: grid;
    grid-template-columns: 2.4fr 1.2fr .5fr 1fr 1fr 1fr;
    gap: 1.5%;
    list-style: none;
    text-align: center;
    padding-left: 0px;
    padding-top: 5.5%;

    .menu__item {
      float: left;
      cursor: pointer;
    }
  }

  .contacts {
    text-align: right;
    margin-left: 5%;
    margin-top: -3%;

    .phone-number {
      font-family: $font-gilroy-superbold;
      font-size: 24px;
      line-height: 30px;
      margin-top: 2%;

      img {
        margin-right: 2%;
      }
    }
  }
}