@charset "UTF-8";
/* В этой папке лежат переменные */
/* Цвета */
/* Брейкпоинты */
/* Шрифты */
@font-face {
  font-family: Dots;
  src: url("DotsAllForNow.ttf");
}
@font-face {
  font-family: Gilroy400;
  src: url("fonts/Gilroy-Light.ttf");
}
@font-face {
  font-family: Gilroy600;
  src: url("fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: Gilroy700;
  src: url("fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: Gilroy800;
  src: url("fonts/Gilroy-Extrabold.ttf");
}
@font-face {
  font-family: Acrom-Medium;
  src: url("fonts/Acrom-Medium.ttf");
}
@font-face {
  font-family: Acrom-Bold;
  src: url("fonts/Acrom-Bold.ttf");
}
/* Это шаблонные селекторы. Чтобы их добавить к своим селекторам, нужно написать внутри селектора, 
например, 
@extend %flex-element-center; 
Это включит правила шаблона в ваш селектор*/
/* Миксины -- это кусочки кода, которые вы можете включать в свои стили с помощью команды @include
Например,  
в этом общем файле пишем миксин:

@mixin reset {
  margin: 0;
  padding: 0;
} 

В вашем файле стилей для блока пишем:

ul {
  @include reset;
}

*/
.header {
  text-transform: uppercase;
  background-color: #6777ff;
  font-family: Gilroy400, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
@media (max-width: 1440px) {
  .header {
    font-size: 14px;
    line-height: 17px;
  }
}

.header__content {
  display: grid;
  grid-template-columns: 9% 60% 27%;
  align-content: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  height: 196px;
}
@media (max-width: 1124px) {
  .header__content .logo {
    grid-area: logo;
    margin-top: 40%;
  }
}
.header__content .logo svg {
  margin-top: 5%;
  height: 100%;
}
@media (max-width: 1124px) {
  .header__content .logo {
    height: 59.1px;
    width: 93px;
  }
}
@media (max-width: 1124px) {
  .header__content .nav {
    grid-area: menu;
    margin-top: 1%;
  }
}
.header__content .menu {
  display: grid;
  grid-template-columns: 2.4fr 1.2fr 0.5fr 1fr 1fr 1fr;
  gap: 1.5%;
  list-style: none;
  text-align: center;
  padding-left: 0px;
  padding-top: 5.5%;
}
.header__content .menu .menu__item {
  float: left;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__content .menu {
    display: none;
  }
}
.header__content .contacts {
  text-align: right;
  margin-left: 5%;
  margin-top: -3%;
}
.header__content .contacts .phone-number {
  font-family: Gilroy800, sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin-top: 2%;
}
.header__content .contacts .phone-number img {
  margin-right: 2%;
}
@media (max-width: 1440px) {
  .header__content .contacts .phone-number img {
    height: 19px;
    width: 19px;
  }
}
@media (max-width: 1124px) {
  .header__content .contacts .phone-number img {
    display: none;
  }
}
@media (max-width: 1440px) {
  .header__content .contacts .phone-number {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .header__content .contacts {
    display: none;
  }
}
@media (max-width: 1124px) {
  .header__content .contacts {
    grid-area: contacts;
    margin-top: 0%;
    margin-right: 2.5%;
  }
}
@media (max-width: 1440px) {
  .header__content {
    height: 184px;
  }
}
@media (max-width: 1124px) {
  .header__content {
    grid-template-columns: 15% 1fr;
    grid-template-rows: 15% 1fr;
    grid-template-areas: "logo contacts" "logo menu";
  }
}
@media (max-width: 1440px) and (min-width: 1124px) {
  .header__content {
    max-width: 1130px;
  }
}
@media (max-width: 1124px) {
  .header__content {
    margin-left: 5%;
    margin-left: 5%;
  }
}

/*# sourceMappingURL=header.css.map */
