@import "settings.scss";

.main-board {
  max-width: 100%;
  margin-top: -4%;

  display: grid;
  grid-template-columns: 45% 10% 45%;

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 1fr 2fr;
  }

  &__text-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 3;

    padding-top: 7.5rem;
    padding-left: 23%;
    padding-right: 7%;

    @media (min-width: $mobile) and (max-width: $desktop) {
      padding-left: 1rem;
      padding-top: 3rem;
    }

    @media (max-width: $mobile) {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
      padding: 0;
    }
  }

  &__header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__first-img-wrap {
    height: 17.5vh;
    margin-bottom: 14px;
  }

  &__first-img {
    @include img-fit-inside;
  }

  &__second-img-wrap {
    margin-bottom: 20px;
  }

  &__second-img {
    @include img-fit-inside;
  }

  &__third-img-wrap {
    height: 6.5vh;
    margin-bottom: 20px;
  }
  &__third-img {
    @include img-fit-inside;
  }
  &__fourth-img-wrap {
    height: 8vh;
  }

  &__fourth-img {
    @include img-fit-inside;
  }

  &__gradient {
    margin-top: 5em;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    z-index: 2;
    background: linear-gradient(90deg, #ffffff 5%, rgba(255, 255, 255, 0) 37%);

    @media (max-width: $mobile) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &__img-side-wrap {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    z-index: 1;

    @media (max-width: $mobile) {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
  }

  &__img {
    max-width: 100%;
    width: 100%;
  }
}

.table {
  text-transform: uppercase;
  min-width: fit-content;

  border-radius: 30px;
  background-color: $background-gray;

  margin-top: 1em;

  @media (min-width: $mobile) and (max-width: $desktop) {
    width: 95vw;
  }

  &__header {
    @extend %flex-element-center;
    white-space: nowrap;

    min-height: 4.8rem;
    background-color: $background-blue;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    border-radius: 30px 30px 0 0;

    text-align: center;
    font-family: Acrom-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 47px;
    color: $table-header;

    @media (min-width: $desktop) and (max-width: $lg-desktop) {
      font-size: 36px;
      line-height: 43px;
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
      font-size: 30px;
      line-height: 35px;
    }

    @media (max-width: 550px) {
      white-space: wrap;
    }

    @media (max-width: $mobile) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__header-text {
    max-width: 90%;
  }

  &__body {
    @media (min-width: $mobile) and (max-width: $desktop) {
      display: flex;
    }
  }

  &__row {
    min-width: 100%;
    background-color: $background-gray;
    border-bottom: 1px solid $black;

    padding-top: 0.8em;
    padding-bottom: 0.8em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: $mobile) and (max-width: $desktop) {
      display: flex;
      flex-direction: column;

      flex: 33% 1 1;
      justify-content: space-evenly;

      min-width: 20%;
      border-bottom: none;
      border-right: 1px solid $black;
    }
  }

  &__row:last-of-type {
    border-radius: 0 0 30px 30px;
    border-bottom: none;
    @media (min-width: $mobile) and (max-width: $desktop) {
      border-right: none;
    }
  }

  &__row:first-of-type {
    @media (min-width: $mobile) and (max-width: $desktop) {
      border-radius: 0 0 0 30px;
    }
  }

  &__time {
    font-family: Acrom-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 56px;
    color: $black;

    padding-left: 20px;

    @media (min-width: $mobile) and (max-width: $desktop) {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      padding-left: 0;
    }

    @media (max-width: $mobile) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__price {
    font-family: Acrom-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: $price-color;

    margin: 0 40px 0 0;

    @media (min-width: $mobile) and (max-width: $desktop) {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin: 0;
    }

    @media (max-width: $mobile) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
