@import "settings.scss";
@import url(https://allfont.net/allfont.css?fonts=liquid-crystal-display);

:root {
  $swiper-theme-color: $blue--saturated;
}

.swiper-button-next:after {
  display: none;
}

.swiper-button-prev:after {
  display: none;
}

.pointers {
  margin-top: 1rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-content: flex-start;

  &__rightside,
  &__leftside {
    border: none;
    background-color: $white;
  }

  &__img--left {
    position: relative;

    &:active {
      left: -10px;
    }
  }

  &__img--right {
    position: relative;

    &:active {
      left: 10px;
    }
  }

  &__wrap {
    position: relative;
  }

  &__numbers-wrap {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    min-height: fit-content !important;
  }

  &__number {
    font-family: Dots, sans-serif;
  }
}

.snp-pagination {
  height: 5vh;
}

.pointers__number {
  font-family: Dots, sans-serif;

  @media (max-width: $mobile) {
    font-size: 18px;
    line-height: 18px;
  }
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  color: $number--inactive;
  font-family: Dots, sans-serif;
  font-size: 36px;
  line-height: 37px;

  margin-left: 10%;
  margin-right: 10%;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: $blue--saturated;
  background-color: $white !important;
}
