@charset "UTF-8";
/* В этой папке лежат переменные */
/* Цвета */
/* Брейкпоинты */
/* Шрифты */
@font-face {
  font-family: Gilroy400;
  src: url("fonts/Gilroy-Light.ttf");
}
@font-face {
  font-family: Gilroy600;
  src: url("fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: Gilroy700;
  src: url("fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: Gilroy800;
  src: url("fonts/Gilroy-Extrabold.ttf");
}
@font-face {
  font-family: Acrom-Medium;
  src: url("fonts/Acrom-Medium.ttf");
}
@font-face {
  font-family: Acrom-Bold;
  src: url("fonts/Acrom-Bold.ttf");
}
/* Это шаблонные селекторы. Чтобы их добавить к своим селекторам, нужно написать внутри селектора, 
например, 
@extend %flex-element-center; 
Это включит правила шаблона в ваш селектор*/
/* Миксины -- это кусочки кода, которые вы можете включать в свои стили с помощью команды @include
Например,  
в этом общем файле пишем миксин:

@mixin reset {
  margin: 0;
  padding: 0;
} 

В вашем файле стилей для блока пишем:

ul {
  @include reset;
}

*/
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev:after {
  display: none;
}

.pointers {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pointers__rightside, .pointers__leftside {
  border: none;
  background-color: #ffffff;
}
.pointers__img--left {
  position: relative;
}
.pointers__img--left:active {
  left: -10px;
}
.pointers__img--right {
  position: relative;
}
.pointers__img--right:active {
  left: 10px;
}
.pointers__wrap {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.pointers__numbers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  min-height: -webkit-fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  color: #6777ff;
  font-size: 36px;
  line-height: 37px;
  height: 2.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: #03008d;
  background-color: transparent !important;
}