@import "settings.scss";

:root {
  $swiper-theme-color: $blue--saturated;
}

.pointers {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;

  &__rightside,
  &__leftside {
    border: none;
    background-color: $white;
  }

  &__wrap {
    @include flex-between;
    position: relative;

    @media (max-width: $tablet) {
      max-width: 45%;
    }

    @media (max-width: $mobile) {
      max-width: 96%;
    }
  }
}
