/* В этой папке лежат переменные */

/* Цвета */

$blue: #6777ff;
$blue--saturated: #03008d;
$white: #ffffff;
$black: #000000;
$dark-blue: #1d1c1c;
$gray: #e5e5e5;

$background-blue: $blue;
$background-gray: $gray;
$header-color: $blue;
$emphasis-color: $blue;
$article-text-color: $dark-blue;
$swiper-theme-color: $blue--saturated !default;

$price-color: $blue--saturated;
$table-header: $white;

$number--inactive: $blue;
$number--active: $blue--saturated;

$border-radius20: 20px;

/* Брейкпоинты */

$mobile: 420px;
$tablet: 768px;
$desktop: 1124px;
$lg-desktop: 1440px;

/* Шрифты */

@font-face {
  font-family: Dots, sans-serif;
  src: url("DotsAllForNow.ttf");
}

@font-face {
  font-family: Gilroy400;
  src: url("fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: Gilroy600;
  src: url("fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Gilroy700;
  src: url("fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: Gilroy800;
  src: url("fonts/Gilroy-Extrabold.ttf");
}

@font-face {
  font-family: Acrom-Medium;
  src: url("fonts/Acrom-Medium.ttf");
}

@font-face {
  font-family: Acrom-Bold;
  src: url("fonts/Acrom-Bold.ttf");
}

$nav-menu-font: Gilroy400, sans-serif;
$default-font-family: Gilroy600, sans-serif;
$gilroy--bold: Gilroy700, sans-serif;
$font-gilroy-superbold: Gilroy800, sans-serif;

$acrom-font: Acrom-Medium, sans-serif;
$acrom-font--bold: Acrom-Bold, sans-serif;

$number-font: Crystal, sans-serif;

/* Это шаблонные селекторы. Чтобы их добавить к своим селекторам, нужно написать внутри селектора, 
например, 
@extend %flex-element-center; 
Это включит правила шаблона в ваш селектор*/

%flex-element-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%margin-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Миксины -- это кусочки кода, которые вы можете включать в свои стили с помощью команды @include
Например,  
в этом общем файле пишем миксин:

@mixin reset {
  margin: 0;
  padding: 0;
} 

В вашем файле стилей для блока пишем:

ul {
  @include reset;
}

*/

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

@mixin img-fit-inside {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

@mixin h2-style {
  font-family: $acrom-font;
  color: $blue--saturated;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;

  margin-left: auto;
  margin-right: auto;

  @media (max-width: $lg-desktop) and (min-width: $desktop) {
    line-height: 58px;
  }

  @media (max-width: $desktop) and (min-width: $mobile) {
    line-height: 43px;
    font-size: 36px;
  }

  @media (max-width: $mobile) {
    line-height: 21.6px;
    font-size: 18px;
  }
}
