@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");
@import url("//db.onlinewebfonts.com/c/f30dc361924ecf67336f9bb622e2fd84?family=Acrom+Medium");

/* В этой папке лежат переменные */

/* Цвета */

$blue: #6777ff;
$blue--saturated: #03008d;
$white: #ffffff;
$black: #000000;
$dark-blue: #1d1c1c;

$background-blue: $blue;
$header-color: $blue;
$emphasis-color: $blue;
$article-text-color: $dark-blue;

$border-radius20: 20px;

/* Брейкпоинты */

$mobile: 320px;
$tablet: 768px;
$desktop: 1124px;
$lg-desktop: 1440px;

/* Шрифты */

@font-face {
  font-family: Crystal;
  src: url("fonts/crystal.ttf");
}

@font-face {
  font-family: Gilroy400;
  src: url("fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: Gilroy600;
  src: url("fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Gilroy700;
  src: url("fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: Gilroy800;
  src: url("fonts/Gilroy-Extrabold.ttf");
}

@font-face {
  font-family: Acrom-Medium;
  src: url("fonts/Acrom-Medium.ttf");
}

@font-face {
  font-family: Acrom-Bold;
  src: url("fonts/Acrom-Bold.ttf");
}

$nav-menu-font: Gilroy400, sans-serif;
$default-font-family: Gilroy600, sans-serif;
$gilroy--bold: Gilroy700, sans-serif;
$font-gilroy-superbold: Gilroy800, sans-serif;

$acrom-font: Acrom-Medium, sans-serif;
$acrom-font--bold: Acrom-Bold, sans-serif;

$number-font: Crystal, sans-serif;

/* Это шаблонные селекторы. Чтобы их добавить к своим селекторам, нужно написать внутри селектора, 
например, 
@extend %flex-element-center; 
Это включит правила шаблона в ваш селектор*/

%flex-element-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%margin-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Миксины -- это кусочки кода, которые вы можете включать в свои стили с помощью команды @include
Например,  
в этом общем файле пишем миксин:

@mixin reset {
  margin: 0;
  padding: 0;
} 

В вашем файле стилей для блока пишем:

ul {
  @include reset;
}

*/

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

@mixin h2-style {
  font-family: $acrom-font;
  color: $blue--saturated;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
}
