@charset "UTF-8";
/* В этой папке лежат переменные */
body {
  max-width: 2000px; }

/* Цвета */
/* Брейкпоинты */
/* Шрифты */
@font-face {
  font-family: Gilroy400;
  src: url("fonts/Gilroy-Light.ttf"); }
@font-face {
  font-family: Gilroy600;
  src: url("fonts/Gilroy-Medium.ttf"); }
@font-face {
  font-family: Gilroy700;
  src: url("fonts/Gilroy-Bold.ttf"); }
@font-face {
  font-family: Gilroy800;
  src: url("fonts/Gilroy-Extrabold.ttf"); }
@font-face {
  font-family: Acrom-Medium;
  src: url("fonts/Acrom-Medium.ttf"); }
@font-face {
  font-family: Acrom-Bold;
  src: url("fonts/Acrom-Bold.ttf"); }
/* Это шаблонные селекторы. Чтобы их добавить к своим селекторам, нужно написать внутри селектора, 
например, 
@extend %flex-element-center; 
Это включит правила шаблона в ваш селектор*/
/* Миксины -- это кусочки кода, которые вы можете включать в свои стили с помощью команды @include
Например,  
в этом общем файле пишем миксин:

@mixin reset {
  margin: 0;
  padding: 0;
} 

В вашем файле стилей для блока пишем:

ul {
  @include reset;
}

*/
.where-to-fly {
  max-width: 99wv;
  max-height: fit-content;
  overflow: hidden;
  padding-top: 12rem;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 6rem; }
  .where-to-fly__header {
    margin-left: 12%; }
  .where-to-fly__pointers {
    max-width: 28%; }
    @media (max-width: 768px) {
      .where-to-fly__pointers {
        max-width: 45%; } }
    @media (max-width: 420px) {
      .where-to-fly__pointers {
        max-width: 95%;
        margin-left: auto;
        margin-right: auto; } }

.card-where {
  height: calc(100% + 100px);
  padding-bottom: 20px; }
  .card-where__header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3.5rem;
    background-color: #6777ff;
    border-radius: 30px 30px 0 0;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-family: Acrom-Medium, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;
    white-space: nowrap;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .card-where__header {
        font-size: 26px;
        line-height: 31px; } }
    @media (max-width: 420px) {
      .card-where__header {
        font-size: 20px;
        line-height: 24px; } }
  .card-where__img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    text-align: center; }
  .card-where__text {
    font-family: Gilroy600;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    overflow-y: hidden; }
    @media (max-width: 768px) {
      .card-where__text {
        font-size: 18px;
        line-height: 22px; } }
    @media (max-width: 420px) {
      .card-where__text {
        font-size: 16px;
        line-height: 19px; } }
  .card-where__link {
    background-color: #6777ff;
    text-decoration: none;
    border-radius: 100px;
    padding: 15px 36px;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      .card-where__link {
        padding: 10px 25px; } }
    @media (max-width: 420px) {
      .card-where__link {
        padding: 7px 15px; } }
  .card-where__link:hover {
    background-color: #03008d; }
  .card-where__link-text {
    color: #ffffff;
    font-family: Gilroy600;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    white-space: nowrap;
    line-height: 29px; }
    @media (max-width: 768px) {
      .card-where__link-text {
        font-size: 20px;
        line-height: 24px; } }
    @media (max-width: 420px) {
      .card-where__link-text {
        font-size: 16px;
        line-height: 19px; } }

/*# sourceMappingURL=where-to-fly.css.map */
