@import "settings.scss";

.where-to-fly {
  max-width: 99wv;
  max-height: fit-content;
  overflow: hidden;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 4rem;

  &__header {
    margin-left: 12%;
  }
}

.card-where {
  height: calc(100% + 100px);
  padding-bottom: 20px;

  &__header {
    min-height: 3.5rem;
    background-color: $background-blue;
    border-radius: 30px 30px 0 0;
    margin-bottom: 0;
    padding: 10px;

    text-align: center;
    color: $white;
    font-family: Acrom-Medium, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;

    white-space: nowrap;
    text-transform: uppercase;
  }

  &__img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    text-align: center;
  }

  &__text {
    font-family: Gilroy600;
    color: $black;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  &__link {
    background-color: $background-blue;
    text-decoration: none;
    border-radius: 100px;
    padding: 15px 36px;
    margin-bottom: 20px;
  }

  &__link:hover {
    background-color: $blue--saturated;
  }

  &__link-text {
    color: $white;
    font-family: Gilroy600;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    white-space: nowrap;
    line-height: 29px;
  }
}
