@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");
@import url("//db.onlinewebfonts.com/c/f30dc361924ecf67336f9bb622e2fd84?family=Acrom+Medium");

/* В этой папке лежат переменные */

/* Цвета */

$blue: #6777ff;
$blue--saturated: #03008d;
$white: #ffffff;
$black: #000000;

$background-blue: $blue;
$header-color: $blue--saturated;
$emphasis-color: $blue;

/* Шрифты */

$default-font-family: "Gilroy-Medium", sans-serif;
$gilroy--bold: "Gilroy-Heavy", sans-serif;
$acrom-font: "Acrom Medium", sans-serif;
